*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color: #1a2c40;
    background-color: #9cbee0;
    margin: 0;
}
main{
    padding: 1em 0 2em;
    margin-top: 200px;
    margin-bottom: 25%;
}
#success main{
    margin-bottom: 150px;
    text-align: center;
}
#success p{
    text-align: center;
}
footer{
    background-color: #425688;
    color: #9cbee0;
    width: 100%;
    height: 25%;
    /*margin-bottom: 150px;*/
    padding: 0.5em;
    text-align: center;
    clear: both;
}
#formsuccess{
    border: 1px solid #1a2c40;
    border-radius: 7px;
    box-shadow: 5px 5px 10px #1a2c40;
    background-color: #1a2c40;
    color: #9cbee0;
    width: 30%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
#bio{
    float: left;
    border: 1px solid #1a2c40;
    border-radius: 7px;
    box-shadow: 5px 5px 10px #425688;
    background-color: #31455d;
    color: #9cbee0;
    padding: 30px 60px;
    width: 50%;
    margin: 10px 0 50px 8em;
}
#skills{
    float: right;
    border: 1px solid #1a2c40;
    border-radius: 7px;
    box-shadow: 5px 5px 10px #1a2c40;
    background-color: #1a2c40;
    color: #9cbee0;
    width: 20%;
    padding: 25px;
    margin: 10px 8em 25px 0;
}
#skillslist{
    text-align: left;
}
#skillslist li{
    display: block;
    padding: 5px;
}
#cfeehealth{
    border: 1px solid #1a2c40;
    border-radius: 7px;
    box-shadow: 5px 5px 10px #1a2c40;
    background-color: #1a2c40;
    color: #9cbee0;
    width: 80%;
    padding: 15px;
    margin: 10px auto;
}
#theobroma{
    border: 1px solid #01434f;
    border-radius: 7px;
    box-shadow: 5px 5px 10px #425688;
    background-color: #31455d;
    color: #9cbee0;
    padding: 15px;
    width: 80%;
    margin: 10px auto;
}

.logolinks{
    margin: 10px auto;
    width: 150px;
    padding: 10px;
}
.logolinks a{
    padding: 5px;
    margin: 10px auto;
    align-content: center;
}
.artimg{
    max-width: 500px;
    max-height: 375px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #01434f;
    transition: transform 1s ease;
}
.artimg:hover{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    transform: scale(1.25);
}
.artcaption{
    text-align: center;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
}
#artwork{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
}
form{
    border: 1px solid #01434f;
    border-radius: 7px;
    box-shadow: 5px 5px 10px #425688;
    background-color: #31455d;
    color: #9cbee0;
    padding:10px;
    width: 500px;
    margin: 0 auto;
}
input, textarea{
    width: 450px;
    padding: 0.25em;

}
label{
    display: inline-block;
    width: 250px;
    text-align: left;
    padding: 0.25em;
    margin: 0 0 0 10px;
}
h2{
    margin: 5px auto;
    text-align: center;
    padding: 5px;
}
h4{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
}

#successfooter{
    background-color: #425688;
    color: #9cbee0;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0.5em;
    text-align: center;
    clear: both;
    bottom: 0;
    position: fixed;
}

header{
    /*background-image: url(./images/shadows_header.png);*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    position: fixed;
    width: 100%;
    top: 0;
    height: 150px;

}
header h1{
    margin: 0;
    padding: 0.5em;
    display: none;
}
nav{
    position: fixed;
    top: 150px;
    width: 100%;
    box-shadow: 5px 5px 5px #1a2c40;
    height: 50px;
    background-color: #425688;
}
ul{
   text-align: left;
}
ul li{
    display: inline-block;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
}
ul li:hover #dropdown-content{
    height: 200px;
    box-shadow: 5px 5px 10px #1a2c40;
}
ul li:hover a{
    color: #c72531;
}
ul li:hover a::before {
    visibility: visible;
    transform: scale(1, 1);
}
ul li #dropdown-content {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #1a2c40;
    height: 0;
    line-height: 40px;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out;
    transition-delay: 0.1s;
}
ul li #dropdown-content a {
    color: #9cbee0;
    margin-top: 20px;
    font-size: 16px;
}
ul li #dropdown-content a:hover {
    color: #c72531;
}
ul li a {
    color: #9cbee0;
    display: block;
    padding: 0 7px 0 7px;
    margin: 0 0 7px;
    text-decoration: none;
    position: relative;
}
ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background-color:  #9cbee0;
    transition: all 0.2s ease-in-out;
    transform: scale(0, 0);
    visibility: hidden;
}
#dropdownbtn{
    color: #9cbee0;
}
#dropdownbtn:hover{
    color: #c72531;
}

@media only screen and (max-width: 1000px){
    main{
        padding: 0.25em;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    #success main{
        margin-bottom: 150px;
        margin-top: 150px;
        text-align: center;
    }
    header{
        /*background-color: #035a6d;*/
        /*color: #f0f8ff;*/
        position: fixed;
        width: 100%;
        top: 0;
        height: 125px;
    }
    #formsuccess{
        border: 1px solid #1a2c40;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #1a2c40;
        background-color: #01434f;
        color: #9cbee0;
        width: 60%;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    #bio{
        clear: both;
        float: none;
        border: 1px solid #01434f;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #425688;
        background-color: #31455d;
        color: #9cbee0;
        padding: 15px;
        width: 60%;
        margin: 10px auto;
    }
    #skills{
        clear: both;
        float: none;
        border: 1px solid #1a2c40;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #1a2c40;
        background-color: #01434f;
        color: #9cbee0;
        width: 60%;
        padding: 15px;
        margin: 10px auto;
    }
    header h1{
        margin: 0;
        padding: 0.75em;
    }
    nav{
        position: fixed;
        width: 100%;
        top: 125px;
        /*box-shadow: 5px 5px 5px #1a2c40;*/
        height: 30px;
        /*background-color: #425688;*/
    }
    ul{
        text-align: center;
        margin: 0 0 10px;
        font-size: 20px;
    }
    ul li{
        display: inline-block;
        margin-right: 15px;
        transition: all 0.3s ease-in-out;
        font-size: 20px;
    }
    ul li:hover #dropdown-content{
        height: 200px;
        box-shadow: 5px 5px 10px #1a2c40;
    }
    ul li:hover a{
        color: #9cbee0;
    }
    ul li:hover a::before {
        visibility: visible;
        transform: scale(1, 1);
    }
    ul li #dropdown-content {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #1a2c40;
        height: 0;
        line-height: 40px;
        box-sizing: border-box;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.1s;
    }
    ul li #dropdown-content a {
        color: #9cbee0;
        margin-top: 20px;
        font-size: 20px;
    }
    ul li #dropdown-content a:hover {
        color: #9cbee0;
    }
    ul li a {
        color: #9cbee0;
        display: block;
        padding: 0 7px 0 7px;
        margin: 0 0 15px;
        text-decoration: none;
        position: relative;
        font-size: 20px;
    }
    ul li a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -10px;
        left: 0;
        background-color:  #9cbee0;
        transition: all 0.2s ease-in-out;
        transform: scale(0, 0);
        visibility: hidden;
    }
    form{
        border: 1px solid #01434f;
        border-radius: 7px;
        box-shadow: 5px 5px 10px #425688;
        background-color: #31455d;
        color: #9cbee0;
        padding:10px;
        width: 500px;
        margin: 10px auto;
    }
    input, textarea{
        width: 450px;
        padding: 0.25em;

    }
    label{
        display: inline-block;
        width: 250px;
        text-align: left;
        padding: 0.25em;
        margin: 0 0 0 10px;
    }
    .logolinks{
        margin: 0 auto 25px;
        width: 150px;
        padding: 10px;
    }
    .logolinks a{
        padding: 5px;
        margin: 0 auto 25px;
        align-content: center;
    }
    .artimg{
        max-width: 400px;
        max-height: 275px;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid #01434f;

    }
    .artcaption{
        text-align: center;
        width: 350px;
        margin-right: auto;
        margin-left: auto;
    }
    #artwork{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        align-items: center;
    }
    #cfeehealth{
        border: 1px solid #1a2c40;
        border-radius: 7px;
        box-shadow: 5px 5px 10px #1a2c40;
        background-color: #01434f;
        color: #9cbee0;
        width: 80%;
        padding: 15px;
        margin: 10px auto;
        font-size: 14px;
    }
    #theobroma{
        border: 1px solid #01434f;
        border-radius: 7px;
        box-shadow: 5px 5px 10px #425688;
        background-color: #31455d;
        color: #9cbee0;
        padding: 15px;
        width: 80%;
        margin: 10px auto;
        font-size: 14px;
    }
    h2{
        margin: 5px auto;
        text-align: center;
        padding: 5px;
    }
    h4{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 5px;
    }
    footer{
        background-color: #425688;
        color: #9cbee0;
        width: 100%;
        height: 125px;
        margin: 0;
        padding: 0.75em;
        text-align: center;
        clear: both;
        bottom: 0;
        position: fixed;
    }
    #successfooter{
        background-color: #425688;
        color: #9cbee0;
        width: 100%;
        height: 100px;
        margin: 0;
        padding: 0.5em;
        text-align: center;
        clear: both;
        bottom: 0;
        position: fixed;
    }


}

